div
    img(class="bio-image pagination-centered" src="/assets/img/min/me.jpg")

    hr
    h2(class="intro-text text-center") Hi I'm Lauren...
    hr

    p A twenty-something girl living in sunny San Diego. I recently got engaged to the man of my dreams, <span class="alt-color">Mr. Miller</span>. Join me in my creative journey as a crafty soon-to-be newlywed and homemaker! Enjoy <i class="fa fa-heart alt-color"></i><a style="font-size : .8em;" href="/my/pages/meetme"> {read more}</a>
    ul.social.hidden-xs
        li
            a(href="https://facebook.com/modernmillers" target="_blank")
                i(class="fa fa-facebook fb")
        li
            a(href="https://pinterest.com/modernmillers" target="_blank")
                i(class="fa fa-pinterest pin")
        li
            a(href="https://twitter.com/modernmillers" target="_blank")
                i(class="fa fa-twitter")
        li
            a(href="https://youtube.com/channel/UCQ0um8v7lzGPpQShb7FLmCw" target="_blank")
                i(class="fa fa-youtube")