footer
    div.container
        div.row
            div(class="col-lg-12 text-center")
                p Copyright &copy; 2014 Thoroughly Modern Millers
                ul.social
                    li
                        a(href="https://facebook.com/modernmillers" target="_blank")
                            i(class="fa fa-facebook fb")
                    li
                        a(href="https://pinterest.com/modernmillers" target="_blank")
                            i(class="fa fa-pinterest pin")
                    li
                        a(href="https://twitter.com/modernmillers" target="_blank")
                            i(class="fa fa-twitter")
                    li
                        a(href="https://youtube.com/channel/UCQ0um8v7lzGPpQShb7FLmCw" target="_blank")
                            i(class="fa fa-youtube")