div.brand <span class='alt-font alt-color'>{ thoroughly }</span> Modern Millers
div.tagline!=blog.description
div.navbar-wrapper
    nav(class="navbar navbar-default" role="navigation")
        div.container
            div.navbar-header
                button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main")
                    span.sr-only Toggle Nav
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.navbar-brand <span class='alt-font alt-color'>{ thoroughly }</span> Modern Millers
            div(id="navbar-main" class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                    li
                        a(href="/index.html") Home
                    li
                        a(href="/my/posts/sewing/") Sewing
                    li
                        a(href="/my/posts/crafts/") Crafts
                    li
                        a(href="/my/posts/life/") Life
                    li
                        a(href="/my/pages/meetme/") Meet Lauren
                    li
                        a(href="/my/pages/contact/" class="hidden") Contact