.ribbon {
  background-color   : $alt-color;
  overflow           : hidden;
  white-space        : nowrap;

  position           : absolute;
  left               : -50px;
  top                : 40px;

  -webkit-transform  : rotate(-45deg);
  -moz-transform     : rotate(-45deg);
  -ms-transform      : rotate(-45deg);
  -o-transform       : rotate(-45deg);
  transform          : rotate(-45deg);

  -webkit-box-shadow : 0 0 10px #888;
  -moz-box-shadow    : 0 0 10px #888;
  box-shadow         : 0 0 10px #888;
}

.ribbon a {
  border          : 1px solid #faa;
  color           : #fff;
  display         : block;
  font            : bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin          : 1px 0;
  padding         : 10px 50px;
  text-align      : center;
  text-decoration : none;
  text-shadow     : 0 0 5px #d0ecf2;

  span {
    color           : #000;
    text-decoration : underline;
  }
}

div.folded:before, div.folded:after {
  bottom     : 26px;
  box-shadow : 0 28px 8px rgba(0, 0, 0, 0.5);
  content    : "";
  height     : 28px;
  position   : absolute;
  width      : 48%;
  z-index    : -1;
}

div.folded:before {
  left      : 2%;
  transform : rotate(-3deg);
}

div.folded:after {
  right     : 2%;
  transform : rotate(3deg);
}

div.folded h2 {
  border-width: 1px 1px 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 4px 40px;
  position: absolute;
  right: 2px;
  top: 12px;
  z-index: 1;
  background-color: #fff;
  font-size: 1.2em;
  color: $alt-color;

  p {
    &.date {
      margin-bottom: 0;
      text-align: right;
      font-size: .8em;
      color: #777;
    }
  }
}

div.folded h2:after {
  border-width : 7px;
  border-style : solid;
  border-color : #134 transparent transparent #134;
  bottom       : -14px;
  content      : "";
  position     : absolute;
  right        : -1px;
}