doctype html

html.no-js(lang='en')
  head
    include ./partials/head.jade

  body
    include ./partials/body.jade
    include ./partials/footer.jade
    include ./partials/integrations.jade
    include ./partials/scripts.jade
